@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #eaebed;
    font-family: 'Montserrat', sans-serif;
  }
  
  nav {
    background-color: #006989;
    color: #EAEBED;
  }
  
  footer {
    background-color: #006989;
    color: #EAEBED;
  }