.divform {
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
    background-color: #006989;
    color: #EAEBED;
    margin-top: 16vh;
    margin-bottom: 16vh;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: box-shadow 0.3s ease;
    max-width: 300px;
    overflow-y: auto;
}

.divform:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.divform h2 {
    font-weight: bold;
}

.divform .username {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: #002533;
}

.divform .password {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    color: #002533;
}

.divform .repassword {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    color: #002533;
}

.divform .sincuenta {
    color: white;
    font-size: 14px;
    margin-top: 10px; 
}


.divform .sincuenta a {
    color: white;
    text-decoration: underline;
}

.divform .volver {
    color: white;
    font-size: 14px;
    margin-top: 10px; 
}

.divform .volver a {
    color: white;
    text-decoration: underline;
}

.divform .boton {
    padding: 10px 20px;
    background-color: #004564;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.divform .boton:hover {
    background-color: #002533;
}
