.tabla {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    overflow-x: auto;
  }
  
  .inputfiltro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-x: auto;
  }

  .filtros h1 {
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  .tabla h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  table th,
  table td {
    padding: 12px 15px;
    text-align: left;
  }
  
  table th {
    background-color: #f8f8f8;
    font-weight: bold;
  }
  
  table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  table tr:hover {
    background-color: #e0e0e0;
  }

  .botonera button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
    background-color: #007bff;
    color: white;
  }

  .inputfiltro button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
    background-color: #007bff;
    color: white;
  }

  .boton1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
  }

  .alerta{
    margin-left: 65vh;
    margin-right: 65vh;
  }

  .date-input-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
  }
  
  .date-input {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #EAEBED;
    color: #006989;
    border-radius: 5px;
    font-size: 16px;
    outline: none; 
    width: 150px;
  }
  
  .date-input:focus {
    border-color: #006989;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(18%) sepia(80%) saturate(2476%) hue-rotate(171deg) brightness(97%) contrast(103%);
  }

  .formulario{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tabla h1 {
    text-align: center;
  }

  @media (max-width: 800px) {
    .inputfiltro{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 10px;
      gap: 10px;
    }

    .nombreproveedor{
      margin-left: 15px;
    }

    .usuarios{
      margin-left: 35px;
    }

    .inputfiltro button {
      margin-left: 80px;
      margin-right: 80px;
    }

    .filtros h1 {
      display: flex;
      justify-content: flex-start;
      font-size: 24px;
      margin-bottom: 1px;
      padding-top: 1px;
    }

    .alerta{
      margin-right: 15px;
      margin-left: 15px;
    }

    .tabla h1 {
      text-align: center;
    }
}